body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000f7; /* Fondo gris oscuro */
  color: #13a1e2; /* Texto blanco */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #0f0f0f; /* Texto claro dentro de etiquetas <code> */
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas si es necesario */
  justify-content: space-between; /* Distribuye el espacio entre las tarjetas de manera uniforme */
  gap: 20px; /* Establece el espacio entre las tarjetas */
  margin-top: 9px;
}

.card {
  flex: 1 1 calc(33% - 20px); /* Hace que cada tarjeta ocupe 1/3 del ancho disponible */
  min-width: 250px; /* Evita que las tarjetas sean demasiado pequeñas */
  box-sizing: border-box;
  background-color: #1298e1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
